.photo-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.previous-foto-wrapper {
    width: 22vw;
    float: left;
}

.previous-foto {
    opacity: 0.5;
    object-fit: contain;
    height: 100vh;
    max-width: 22vw;
}

.current-foto-wrapper {
    padding: 0 10px 0 10px;
}

.current-foto {
    max-width: 50vw;
    object-fit: contain;
    height: 100vh;
}

.next-foto-wrapper {
    width: 22vw;
}

.next-foto {
    max-width: 22vw;
    opacity: 0.5;
    height: 100vh;
    z-index: 0;
    object-fit: contain;
}

.arrow {
    position: absolute;
    font-size: 2.2em;
    cursor: pointer;
    top: 45%;
    z-index: 2;
    padding: 0 5px 0 5px;
    border: 3px solid black;
    background-color: white;
    border-radius: 50%;
    opacity: .5;
}

.arrow:hover {
    background-color: black;
    color: white;
}

.arrow-back {
    margin-left: .6rem;
}

.arrow-next {
    margin-left: -3rem;
}

.likes-container {
    margin-top: -10vh;
    display: flex;
    font-size: 35px;
    align-items: center;
    height: auto;
    width: auto;
    font-weight: 900;
    justify-content: center;
}

.like-counter {
    margin: 0 10px 0 10px;
}

.like {
    color: #5BD94A;
    cursor: pointer;
}

.dislike {
    color: #E53E3E;
    cursor: pointer;
}

@keyframes move {
    from {
        top: 0px;
        opacity: 1;
    }
    to {
        top: -60vh;
        opacity: 0;
    }
}

.liked-animation {
    animation: move 3s ease-in-out;
    position: relative;
}

.disliked-animation {
    animation: move 3s ease-in-out;
    position: relative;
}

@media (max-width: 820px) {
    .next-foto-wrapper {
        width: 0;
    }

    .next-foto {
        display: none;
        width: 0;
    }

    .previous-foto-wrapper {
        width: 0;
    }

    .previous-foto {
        width: 0;
        display: none;
    }

    .current-foto {
        max-width: 100vw;
    }
}




